*{
    background-color: black;
}
.dogapi{
    
    text-align: center;
    background-color: rgb(113, 10, 182);
    
    
    
    
  }
  h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(113, 10, 182);
    padding: 5% 0;
    text-align: center;

  }